h1 {
    height: 3vh;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 5vh;
    margin-bottom: 2vh;
    max-width: 800px;
  }
  
  body {
    margin: 0;
    padding: 2vh;
    height: 96vh;
    background-color: grey;
  
  }

  @media all and (min-width: 500px){
    h1, body {
      flex-direction: row;
    }
  }   
  