h1 {
  height: 3vh;
  text-align: center;
  background-color: #444444;
  margin: auto;
  padding: 3vh 1vh;
  margin-bottom: 2vh;
  padding-top: 0;
  max-width: 800px;
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 2vh;
  height: 96vh;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

@media all and (min-width: 500px) {
  h1,
  body {
    flex-direction: row;
  }
}
