.App__Home {
    margin: auto;
    text-align: center;
    background-color: #444444;
    max-width: 800px;
    padding: 1vh;
    min-height: 71vh;
    border-radius: 20px;
  }
  
  
  img {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 15px;
    width: auto;
    max-height: 20vh;
    outline-style: none;
  }
  
  .App__Home > img:hover{
    opacity: 0.6;
  }
  
  h2{
    margin: 0;
    padding: 0;
  }

  input {
    background-color: #444444;
    outline-style: none;
    color: white;
  }

  @media all and (min-width: 500px){
    .App__Home,img, .App__Home > img:hover, h2  {
      flex-direction: row;
    }
  } 