.App__Home {
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 800px;
    padding: 5vh;
    min-height: 71vh;
  }
  
  
  img {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 15px;
    width: auto;
    max-height: 20vh;
  }
  
  .App__Home > img:hover{
    opacity: 0.6;
  }
  
  h2{
    margin: 0;
  }